/*Developed 2017 - Copeland Felts - OPEN_Engineering*/

body .navbar-default {
    background-color: #6B7A8F;
}

body .navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F7882F;
}

body .navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

body .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #F7882F;
}

.navbar{
    font-size: 16px;
}

.navbar a:hover{
    font-weight: bold;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #DCC7AA;
}

    /* Global */
    .container{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    .carousel{
        padding-left: 10%;
        padding-right: 10%;
    }


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6B7A8F;
  border-top: #F7882F 4px solid;
}

footer p{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
/*

header .highlight, header .current a{
    color: #F7882F;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

header{
    background: #6B7A8F;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
    min-height: 70px;
    border-bottom: #F7882F 4px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #LOGO{
    float: left;
}

header #LOGO h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}


ul{
    margin: 0;
    padding: 0;
}




*/

